@charset "UTF-8";

body{
    font-family: cofo-sans-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wght" 400;
}
.product-background {
    background-color: rgba(255, 255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin-top: 20px;
}
.box-shadow {
    box-shadow: rgb(23, 25, 27) -20px 20px 30px -10px;
}
/* rating star css */
.stars i{
    color: #fc6b40;
    cursor: pointer;
}
.icon img {
    width: 40px;
    height: 40px;
}
.rating-text {
    color: rgba(213, 213, 213, 255);
}

.text-orange {
    color: rgba(244, 191, 183, 255);
}

.money-detail {
    color: rgba(213, 213, 213, 255);
}

.money-text {
    color: #feb16b;
}

.dropbox-img {
    width: 35px;
    height: 35px;
}

.card-btn {
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: rgba(255, 147, 57, 255);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 147, 57, 255);
    background-color: white;
    transition: 0.5 ease all;
     width: 100%
}

.card-btn:hover {
    background-color: #fb7c15;
    color: aliceblue;
}
.card-btn:active {
    background-color: #fb7c15;
    color: aliceblue;
}

.buy-btn {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: rgba(255, 147, 57, 255);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 147, 57, 255);
    background-color: white;
    transition: 0.5 ease all;
    width: 100%
}
.buy-btn:hover {
    background-color: #fb7c15;
    color: aliceblue;
}
.buy-btn:active {
    background-color: #fb7c15;
    color: aliceblue;
}

.bold{
    font-weight: bold;
}
.bold h6{
    font-weight: bold;
}
.column-third{
background-color: #eeeeee;
}
img-size{
	height: auto
}