body {
	background-color: beige;
}

/*Single mới  */
.detail-product {
	background-color: #f8f8f8;
display: flex;
padding: 30px;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); /* Giảm khoảng cách nhưng tăng độ rõ */
border-radius: 15px;
gap: 25px;
align-items: center;
margin: 30px auto;
}
.section-comment{
	background-color: white;
	display: flex;
	padding: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	gap: 20px;
	margin: 20px auto;
}

.detail-product input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 16px;
	margin-right: 10px;
}

.detail-product input:focus {
	outline: none;
}

.card-btn {
	background-color: cornflowerblue;
	opacity: 1;
	transition: 0.3s all;
	padding: 15px;
}

.card-btn:hover {
	background-color: #4778d9;
}

.buy-btn {
	background-color: #E53935;
	transition: background-color 0.3s ease;
	opacity: 1;
	transition: 0.3s all;
	padding: 15px;
}

.buy-btn:hover {
	background-color: #C62828;
}

.detail-product h6 {
	color: #A0A0A0;
}

.detail-product .btn-group {
	display: d-flex;
}