.banner_div {
    margin-left: 140px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.banner_1 {
    width : max-content; 
    height:  max-content;
  
}
body {
    background-color: rgb(237, 237, 237);
}
.banner_1 img {
    width: 900px;
    height: 450px;
    border: none;
}
.banner_list_1 {
    margin-left: 40px;
    display: flex;
    flex-direction: column; /* Hiển thị theo chiều dọc */
    align-items: center; /* Căn giữa các item */
    gap: 10px; /* Khoảng cách giữa các sản phẩm */

}
.banner_list_1 img{
    width: 300px;
    height: 140px;
   
}
.content_div_1 {
    display: flex;
    width: 1243px;
    height: fit-content;
    background-color: white;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    margin-top: 30px;
    margin-left: 140px;
    cursor: pointer;
}
.content_div_1_element {
    display: flex; /* Kích hoạt Flexbox */
    align-items: center;
    flex-direction: column; /* Xếp phần tử theo cột */
    margin-left: 30px;
    margin-top: 50px;
    
    width: 120px;
    height:120px;

    gap: 10px;
    color: black
}

.content_div_1_element img {
    width: 50px; 
    height: 50px;

}
.content_div_1_element p {
    padding-top: 18px;
    color: rgb(104, 104, 104);
}
.sale-content {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: crimson;
}
.sale-content video {
    position: absolute;
    width: 100%;
    object-fit: fill;
    height: 500px;
}
.content {
    display: flex;
    justify-content: space-between;
    position: relative;

    background-color: white;
    height: max-content;
    width: 1243px;
    margin-left: 140px;
    top: 40px;
    z-index: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
}
.countdown-container {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.countdown-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
   
    margin: 0 5px;
}
.separator {
    font-size: 24px;
    font-weight: bold;
    margin: 0 3px;
}
.content-left {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.content-left a{
    top: 10px;
}
.sale-books {

    position: relative;
    display: flex;
    width: 1243px;
    gap: 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    margin-top: 90px;
    margin-left: 140px;
    height: max-content;
}
.sale-books img {
    width: 100px;
    height: 150px;

}
.sale-books-element {
    background-color: white;
    display: grid;
 
    place-items: center; /* Căn giữa cả ngang và dọc */
    width: 240px;
    height: 300px;
}
.sale-books-element img {
    width: 190px;
    height: 190px;
}
.sale-books-element h4 {
    color: red;
}
.sale-books-element h5 {
    display: inline-block; /* Giúp khung chỉ bao quanh nội dung */
    background-color: red;
    color: white;
    border: 2px solid red/* Độ dày và màu của khung */
}
.sale-books-element h6 {
    text-decoration: line-through;
    color: rgb(104, 104, 104);
}
.sale-books-element:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Hiệu ứng đổ bóng */
}
.danh_muc_logo {
    display: flex;
}
.danh_muc_logo img {
    width: 30px;
    margin-left: 24px;
    margin-top: 16px;
    height: 30px;
}
.danh-muc-sp {
    width: 1243px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    margin-top: 40px;
    background-color: white;
    margin-left: 140px;
}

.danh-muc-sp a {
    color: black;
    text-decoration: none;
}
.danh-muc-sp h1 {
    font-family: sans-serif;
    padding-left: 16px;
    padding-top: 20px;
    font-size: 20px;
    color: black;
    font-weight:  bold;
    line-height:  inherit;
}
.danh-muc-sp-element {
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    gap: 20px;
}
.danh-muc-sp-element-1 {
    display: grid;
    cursor: pointer;
    padding: 5px;
    gap: 20px;
    place-items: center; /* Căn giữa cả ngang và dọc */
    width: max-content;
    height: max-content;
}
.danh-muc-sp-element-1 img {
    width: 100px;
    height: 100px;

}
.danh-muc-sp-element-1:hover {
    color: blueviolet;
}
.xu_huong_mua_sam {
    width: 1243px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    margin-top: 40px;
    background-color: white;
    margin-left: 140px;
}
.xu_huong_mua_sam_header {
    display: flex;
    width: 1243px;
    height: 70px;
    margin-top: 40px;
    gap: 2px;
    background: linear-gradient(to right, #02623a, #1fbd66); /* Gradient chuyển từ xanh nhạt sang xanh dương */
    
  
}
.xu_huong_mua_sam_header img {
    width: 30px;
    margin-left: 24px;
    margin-top: 16px;
    height: 30px;
}
.xu_huong_mua_sam_header h1 {
    font-family: sans-serif;
    padding-left: 16px;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight:  bold;
    line-height:  inherit;
}
.display-list-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    max-width: 100%;}
.display-list-grid a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như bình thường */
    }
.sale-books-element {
    text-align: center; /* Căn giữa toàn bộ nội dung */
}

.sale-books-element p {
    white-space: nowrap;        /* Không xuống dòng */
    overflow: hidden;           /* Ẩn phần tràn ra */
    text-overflow: ellipsis;     /* Thêm dấu "..." */
    width: 180px;                /* (hoặc set theo nhu cầu) */
}    
.hidden {
        display: none;
    }    
