.info-body {
	background: linear-gradient(135deg, #e2e8f0, #f8fafc);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.sidebar a {
	transition: background-color 0.3s, color 0.3s;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.75rem 1rem;
	display: block;
}

.sidebar a.active, .sidebar a:hover {
	background-color: #0d6efd;
	color: white;
}

.form-box {
	display: none;
	opacity: 0;
	transform: translateY(10px);
	transition: all 0.4s ease;
}

.form-box.active {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

.form-floating>label {
	color: #6c757d;
}

.form-control {
	height: 20px;
	padding: 5px 5px;
	font-size: 14px;
}

.gender-group label {
	display: inline-block;
	margin-right: 10px;
}

.profile-image-container {
	text-align: center;
	margin-top: 20px;
}

.profile-image-container img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 10px;
}

.form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.form-row .col-md-6 {
	width: 45%;
}

.divider-vertical {
    width: 1px;
    background-color: #dee2e6;
    height: auto;
    min-height: 300px;
    margin-left: 50px; 
    margin-right: 10px;
}
@media ( max-width : 768px) {
	.form-row {
		flex-direction: column;
	}
	.divider-vertical {
		margin: 20px 0;
		width: 80%;
		height: 1px;
		background-color: #dee2e6;
	}
}

.container {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.col-md-9 {
	min-height: 600px;
}
.position-relative {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;  /* Khoảng cách từ bên phải */
    top: 50%;
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
    cursor: pointer;
  }