<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BOOK_STORE</display-name>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/tim-sach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailController</display-name>
    <servlet-name>BookDetailController</servlet-name>
    <servlet-class>controller.product.BookDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailController</servlet-name>
    <url-pattern>/chi-tiet-sach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAddressServlet</display-name>
    <servlet-name>SelectAddressServlet</servlet-name>
    <servlet-class>controller.address.SelectAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAddressServlet</servlet-name>
    <url-pattern>/SelectAddressServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>charset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/checkout</url-pattern>
    <url-pattern>/confirm</url-pattern>
    <url-pattern>/upload</url-pattern>
    <url-pattern>/infor</url-pattern>
    <url-pattern>/reset</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>activateFilter</filter-name>
    <url-pattern>/checkout</url-pattern>
    <url-pattern>/reset</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>verifyFilter</filter-name>
    <url-pattern>/reset</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>apiFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>changePassFilter</filter-name>
    <url-pattern>/changePass</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>rootFilter</filter-name>
    <url-pattern>/root/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>FACEBOOK_APP_ID</param-name>
    <param-value>1862835147867306</param-value>
  </context-param>
  <context-param>
    <param-name>FACEBOOK_APP_SECRET</param-name>
    <param-value>776df64d498b035596d3269f58f68942</param-value>
  </context-param>
  <context-param>
    <param-name>GHN_TOKEN</param-name>
    <param-value>1cdb0f24-1830-11f0-bf01-723c4de9ff57</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ProductCache</display-name>
    <servlet-name>ProductCache</servlet-name>
    <servlet-class>controller.product.ProductCache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCache</servlet-name>
    <url-pattern>/ProductCache</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>GHN_SHOP_ID</param-name>
    <param-value>5731351</param-value>
  </context-param>
  <context-param>
    <param-name>GHN_API_URL</param-name>
    <param-value>https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ReorderController</display-name>
    <servlet-name>ReorderController</servlet-name>
    <servlet-class>controller.category_checkout.ReorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReorderController</servlet-name>
    <url-pattern>/ReorderController</url-pattern>
  </servlet-mapping>
</web-app>